.alert-enter {
  opacity: 0;
}

.alert-enter-active {
  transition: opacity 500ms linear;
  opacity: 1;
}

.alert-exit-active {
  transition: opacity 350ms linear;
  opacity: 0;
}

.note-exit-active {
  animation: note 750ms ease forwards;
}

.note-enter-active {
  animation: note 750ms ease-out alternate-reverse;
}

@keyframes note {
  0% {
    transform: translateX(0);
  }
  30% {
    opacity: 0.7;
    transform: translateX(30px);
  }
  100% {
    opacity: 0;
    transform: translateX(-200px);
  }
}
